.repair {
  height: 320px;
  &__content {
    height: 160px;
    margin: 24px;
  }
  &__item {
    width: 224px;
    height: 160px;
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 40px;
    background-color: #fff;
    margin-right: 16px;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    span {
      margin: auto;
      margin-right: 0;
    }
  }
  &__arrow {
    display: block;
  }
  &__btn {
    display: none;
  }
}
@media (min-width: 768px) {
  .repair {
    height: 100%;
    &__content {
      display: grid;
      box-sizing: border-box;
      padding: 0;
      margin: 24px;
      height: 160px;
      width: calc(100% - 48px);
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 160px;
      gap: 16px 24px;
      overflow: hidden;
      &--full {
        height: 100%;
      }
    }
    &__item {
      margin-right: 0;
    }
    &__btn {
      display: block;
      border: none;
      padding-left: 55px;
      margin: 0 auto 34px 24px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
@media (min-width: 1120px) {
  .repair {
    &__content {
      grid-template-columns: repeat(4, 1fr);
    }
    &__item {
      width: 100%;
    }
  }
}
